body{
  background-color: black;
  color: purple;
  font-family: serif;
}
.button{
  background-color: purple;
  color: black;
  padding: 10px;
  border-radius: 15px;
}

input{
  padding: 25px;
  border-radius: 15px;
  font-size: 13px;
  font-family: serif;
}
li{
  display: inline;
  
}
#na{
  background-color: whitesmoke;
}
@media only screen and (max-width: 600px) {
  li {
  display: block;
  margin: 0;
  }
  }
